.Pdash {
  background-color: #3b457b;
  display: flex;

  flex-direction: column;
}

.Pimg {
  border-radius: 50%;
  width: 50%;
  margin: 1rem;
  box-shadow: 0 2px 4px black;
}

.Lname {
  color: white;
}
.name {
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.Profile {
  display: flex;
  justify-content: center;
}

.nameBox {
  margin: 1rem;
}

.Pdash {
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 8px 8px grey;
}

.twoL {
  display: flex;
  justify-content: center;
}

.threeL {
  margin: 1rem 5px;
}

.PPcard {
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: white;

  box-shadow: 0 2px 4px grey;
  border-radius: 8px;
}

.PPimg {
  box-shadow: 0 1px 4px grey;
  border-radius: 4px;
}

.PPtitle {
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
}
.Pprogress {
  position: relative;
  width: 200px;
  height: 10px;
  background: #d2d6ed;
  border-radius: 8px;
  overflow: hidden;
}

.Myprogress {
  display: flex;
  overflow-x: scroll;
}

.Pprogress__fill {
  width: 70%;
  border-radius: 8px;
  height: 100%;
  background: #3b457b;
  transition: all 0.2s;
}

.PProg {
  margin: 1rem;
  font-size: 1.5rem;
}

.CPbar {
  margin: 1rem;
  padding: 1rem 3rem;
  width: 70%;
}

.ProgCard {
  background-color: #f0f1f9;
  padding: 1.5rem 0;
  margin: 2rem 0;
}
