.Tcard {
  background-color: #f0f1f9;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px grey;
  border-radius: 8px;
}

.Ttrack {
  margin: 1rem;
  padding: 2rem;
}

.Timg {
  border-radius: 4px;
  box-shadow: 0 1px 4px grey;
}
