.HHcard {
  padding: 0 0.5rem;
}

.HcategoryText {
  font-size: 0.8rem;
  margin: 5px 0;
}

.Htitle {
  font-weight: bold;
  margin: 10px 0;
}

.HmainCard {
  background-color: #f0f1f9;
  box-shadow: 0 2px 4px grey;
  padding: 1rem 1rem;
  margin: 1.5rem 1rem;
  border-radius: 4px;
  min-width: 18rem;
}

.HenrollButt {
  background-color: #4c589e;
  color: white;
  padding: 5px 7px;
  border-radius: 8px;
  font-size: 12px;
}

.HCimg {
  border-radius: 4px;
  box-shadow: 0px 1px 4px grey;
}

.Hcourses {
  display: flex;

  overflow-x: scroll;
}

.MRC {
  font-size: 1.3rem;
  font-weight: bold;
}

.MRCbox {
  margin: 2rem 0;
}

.Hbox {
  background-color: #03539a;
  color: white;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px black;
}
.Htext {
  font-size: 20px;
  margin: 10px 0;
}

.Hinput {
  width: 100%;
  padding: 4px 14px;
  border-radius: 2px;
  margin: 0rem;
}

.Hnumber {
  font-size: 1.5rem;
  background-color: #53abfa;
  border-radius: 1rem;
  padding: 1px 10px;
  box-shadow: 0 1px 2px black;
}

.Hntext {
  font-size: 1.3rem;
  padding: 1rem;
}

.searchicon {
  position: relative;
  right: 2rem;
  top: 8px;
}
