.filter {
  background-color: #ebf2ff;
  padding: 0 10px;
  /* display: inline-block; */
}

.input {
  width: 20rem;

  color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgb(153, 144, 144);
  border: none;
}

.searchicon {
  position: relative;
  right: 3.5rem;
  color: #3b457b;
}

.filt {
  font-size: 2rem;
  border-bottom: 5px solid #3b457b;
  text-align: center;
  padding: 10px;
}

.categ {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 1px;

  /* border-bottom: 2px solid #4c589e; */
}

.category {
  text-align: center;
  margin: 1rem 0;
}

.inputCateg {
  background-color: #ebf2ff;
  border: none;
}

.categorySearch {
  border-bottom: 2px solid #4c589e;
}

.searchiconCat {
  position: relative;
  right: 16rem;
}

.upArr {
  position: relative;
}

.checkboxIn {
  transform: scale(2);
}
.CatName {
  font-size: 1.3rem;
  padding: 0 1rem;
}

.showMore {
  padding: 1rem 0;
  text-align: center;
}

.hideFilter {
  display: none;
}

.popular {
  text-align: center;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.searchbox {
  margin: 2rem 0;
}
.card {
  padding: 0 1.5rem;
}

.categoryText {
  font-size: 0.8rem;
}

.title {
  font-weight: bold;
}

.mainCard {
  background-color: #f0f1f9;
  padding: 1rem 0;
  margin: 0 1rem;
  border-radius: 1rem;
}
