.cardEnroll {
  background-color: #f0f1f9;
  box-shadow: 0 2px 4px grey;
  padding: 1rem;
  margin: 10px;
  border-radius: 4px;
}

.titleEnroll {
  font-weight: bold;
  margin: 5px;
  font-size: 1.2rem;
}

.categTitle {
  margin: 5px;
}

.rating {
  margin: 5px;
}

.enrollButt {
  background-color: #4c589e;
  color: white;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 8px;
}

.share {
  margin: 1rem;
}

.descriptionEnroll {
  padding: 0.5rem;
  margin: 10px;
}

.DTitle {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(63, 63, 226);
}

.Dpara {
  padding: 1rem 0;
}

.gotoC {
  background-color: #4c589e;
  color: white;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 10px;
}

.Eimg {
  border-radius: 4px;
  box-shadow: 0 1px 4px grey;
}

.circle {
  color: green;
}

.enText {
  margin: 2px;
}
