.navbar {
  background-color: #f9f9fa;
  justify-content: space-between;
  padding: 0.3rem;
  z-index: 3;
}

.profile-dropdown {
  background-color: #053063;
  /* height: 30px; */
  border-radius: 30px;
  margin: 0 5px;
}

.profile {
  /* background-color: #053063; */
  color: #f9f9fa;
  padding: 3px;
  font-size: 0.8rem;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: whitesmoke;
  margin: 3px;
  border-radius: 50px;
}

.Hamburger {
  position: relative;
  top: 5px;
  left: 10px;
}

.icon {
  padding: 2px 5px 4px 5px;
  color: #f9f9fa;
}

.dropdown {
  border-radius: 20px;
  padding: 0.8rem;
  position: absolute;
  right: 2.5rem;
  z-index: -1;
  top: 2.8rem;
  background-color: #053063;
  color: #f9f9fa;
}

.login {
  background-color: lightseagreen;
  font-size: 16px;
  border-radius: 50px;
  padding: 3px 15px;
  margin: 5px 5px;
}

.hide-dropdown {
  display: none;
}

.sidebar {
  background-color: #053063;
  color: #f9f9fa;
  width: 100%;
  /* position: absolute; */
  top: 0;
  /* z-index: -1; */
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
}

.sidebarHide {
  display: none;
}
